<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Page</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <header>
        <nav class="mb-5">
            <a href="/Students/Index" class="btn btn-success ">All Student</a>
            <a href="/students/Create" class="btn btn-success ">Create Student</a>
            <a href="/Students/Update" class="btn btn-success ">Update Student</a>
            <a href="/Students/Delete" class="btn btn-success ">Delete Student</a>
        </nav>
    </header>

    <main>
        <h2>Create Page</h2>
        <p>This is Create Page ......</p>
    </main>

    <footer style="margin-top: 30%;">
        <p>MVC First Task @DateTime.Now FirasMarabi</p>
    </footer>
</body>
</html>